language: java
jdk:
  - openjdk11

branches:
  only:
    - master

# Travis CI 서버
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'
script: "./gradlew clean build"

# CI 실행 완료시 메일로 알람
notifiactions:
  email:
    recipients:
      - z7942s@naver.com