{{>layout/header}}
<h1>도서 등록</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form action="/books/bookInsert" method="post">
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" id="isbn" placeholder="ISBN을 입력하세요">
            </div>
            <div class="form-group">
                <label for="bookName">책 이름</label>
                <input type="text" class="form-control" id="bookName" placeholder="책 이름을 입력하세요">
            </div>
            <div class="form-group">
                <label for="bookAut"> 저자 </label>
                <input type="text" class="form-control" id="bookAut" placeholder="저자를 입력하세요">
            </div>
            <div class="form-group">
                <label for="bookTrans"> 옮긴이 </label>
                <input type="text" class="form-control" id="bookTrans" placeholder="옮긴이를 입력하세요">
            </div>
            <div class="form-group">
                <label for="bookDate"> 출간일 </label>
                <input type="text" class="form-control" id="bookDate" placeholder="출간일을 입력하세요">
            </div>
            <div class="form-group">
                <label for="bookCov"> 표지 </label>
                <input type="email" class="form-control" id="bookCov" placeholder="표지를 넣어주세요">
            </div>
            <div class="form-group">
                <label for="bookPri"> 가격 </label>
                <input type="text" class="form-control" id="bookPri" placeholder="가격을 입력하세요">
            </div>
            <div class="form-group">
                <label for="bookGen"> 장르 </label>
                <input type="text" class="form-control" id="bookGen" placeholder="장르를 선택해주세요">
            </div>
            <div class="form-group">
                <label for="bookDet"> 상세내용 </label>
                <input type="textarea" class="form-control" id="bookDet" placeholder="상세내용을 입력하세요">
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">도서 등록</button>
    </div>
</div>
{{>layout/footerBook}}