{{>layout/header}}
{{>layout/nav}}
<div class="col-md-12">
    <div class="col-md-4">
        <table>
            <thead>
                <tr>
                    <th>카드 번호</th>
                    <th>유효 기간</th>
                    <th>카드 종류</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody>
            {{#cardInfo}}
                <tr>
                    <td>{{cardNum}}</td>
                    <td>{{cardPeriod}}</td>
                    <td>{{cardVal}}</td>
                    <td>
                        <button></button>
                    </td>
                </tr>
            {{/cardInfo}}
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            배송지 추가
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">배송지 정보</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{>users/addr}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-addrSave">저장</button>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>배송지</th>
                    <th>주소</th>
                    <th>연락처</th>
                    <th>수정 삭제</th>
                </tr>
            </thead>
            <tbody>
                {{#addrInfo}}
                <tr>
                    <td>
                        {{addrNic}}<br>
                        {{addrName}}<br>
                        {{addrYN}}
                    </td>
                    <td>
                        {{addrZip}}<br>
                        {{addrBas}}<br>
                        {{addrDet}}
                    </td>
                    <td>
                        {{addrNum}}<br>

                    </td>
                    <td>
                        <button>수정</button>
                        <button>삭제</button>
                    </td>
                </tr>
                {{/addrInfo}}
            </tbody>
        </table>
    </div>
</div>
{{>layout/footer}}