{{>layout/header}}
<h1>메인</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/users/signUp" role="button" class="btn btn-primary">회원가입</a>
        </div>
    </div>
</div>
{{>layout/footer}}